@charset "utf-8";

.works__main {
    margin: 0 auto;
    padding-bottom: 96px;
}

.works__main__heading {
    padding-top: 230px;
    padding-bottom: 10px;
    display: flex;
    align-items: end;
    justify-content: space-between;

    width: 90%;
    border-bottom: 1px solid #161616;
    text-align: left;
}

.works__main__titlebox {
    font-family: "Noto Serif JP", serif;
    font-weight: 400;
    font-style: normal;
}

.works__main__title {
    font-size: 72px;
    padding-bottom: 16px;
    text-justify: auto;
}

.works__main__title-ja {
    font-size: 36px;
}

.works__main__subtitle {
    font-size: 16px;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.works__main__container {
    margin: 0 auto;
    max-width: 1080px;
    padding-left: 32px;
    padding-right: 32px;

    padding-bottom: 144px;
}

.works__main__container-img {
    width: 100%;
    text-align: center;
    padding-top: 144px;
    padding-bottom: 96px;
}

.works__main__container-firstimg {
    margin: 0 auto;
    width: 60%;
    /* text-align: left; */
    padding-top: 144px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.works__main__container-firstimg img {
    filter: drop-shadow(0px 20px 20px rgba(29, 29, 29, 0.1));
}

.works__main__container-firstimg p {
    padding-top: 16px;
    font-weight: 700;
}

.works__main__container-secondimg p {
    padding-top: 16px;
    font-weight: 700;
}

.works__main__container-secondimg {
    margin: 0 auto;
    width: 80%;

    padding-bottom: 96px;
    display: flex;
    flex-direction: column;
}

.works__main__container-secondimg img {
    filter: drop-shadow(0px 20px 20px rgba(29, 29, 29, 0.1));
}

.banner-img {
    width: 50%;
    filter: drop-shadow(0px 20px 20px rgba(29, 29, 29, 0.1));
}

.works__main__container-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 64px;
}

.works__main__container-text p {
    line-height: 1.75;
}

/* .works__main__container-img img {
    width: 60%;
} */

.works__main__container-list {
    margin: 0 auto;
    max-width: 1080px;
    background: rgba(178, 178, 178, 0.1);
    box-shadow: 0 8px 32px 0 rgba(22, 22, 22, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(3px);

    border: 0.5px solid rgba(255, 255, 255, 0.18);
}

.works__main__list-area {
    margin: 0 auto;
}

.works__main__list-title {
    width: 375px;
}

.works__main__list-text {
    width: 750px;
    line-height: 1.75;
}

.works__main__list-area li {
    display: flex;
    gap: 40px;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

.works__main__list-area p {
    text-align: left;
}

.works__main__list-area li p:nth-child(1) {
    font-weight: 600;
}

/* 画像 */

.works__main__container-imgblock {
    margin: 0 auto;
    display: flex;
    gap: 40px;
    padding-top: 128px;
    justify-content: center;
}

.works__main__container-imgblock img {
    filter: drop-shadow(0px 5px 5px rgba(29, 29, 29, 0.5));
}

/*  区切り横線 */

.works__main__container-hr {
    max-width: none;
    margin: 0 auto;
    /* width: 30%;
    border-bottom: 1px solid #161616;
    text-align: right; */
    display: flex;
    justify-content: flex-end;
    padding-bottom: 160px;
}

.works__main__container-hr p {
    width: 30%;
    border-bottom: 1px solid #161616;
    text-align: right;
}

/* リンクボタン */

.works__main__containerbtn {
    margin: 0 auto;

    /* box-sizing: border-box; */
    max-width: 1080px;
    width: 178px;
    height: 56px;
    /* width: 20%;
    height: 30%; */

    border-bottom: 1px solid #161616;
    border-left: 1px solid#161616;
    display: flex;
    text-align: center;
    transition: 0.2s;
}

.works__main__containerbtn:hover {
    opacity: 0.5;
}

.works__main__containerbtn a {
    width: 100%;
}

.works__main__containerbtn-text {
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
}

/* ボタン矢印 */
.works__main__containerbtn::before {
    position: relative;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 0;
    border-right: 5px solid #161616;
    top: 24px;
    left: 20px;
}

.works__main__containerbtn:hover:before {
    opacity: 0.5;
}

.size-br {
    display: none;
}

/* 1080 */
@media screen and (max-width: 1080px) {
    .works__main__title {
        font-size: 64px;
    }
}

/* 900 */
@media screen and (max-width: 900px) {
    .works__main__title {
        font-size: 54px;
    }

    .works__main__title-ja {
        font-size: 30px;
    }
}

/* 767*/
@media screen and (max-width: 767px) {
    .works__main__container-imgblock {
        flex-direction: column;
        align-items: center;
    }

    .works__main__title {
        font-size: 40px;
    }

    .works__main__title-ja {
        font-size: 25px;
    }

    .works__main__subtitle {
        font-size: 15px;
    }

    .footer__copyright {
        font-size: 9px;
    }

    .works__main__list-area li {
        display: block;
    }

    .works__main__list-text {
        width: 100%;
    }

    .works__main__list-text {
        padding-top: 16px;
    }

    .works__main__list-title {
        width: 100%;
    }
}

/* 690 */
@media screen and (max-width: 690px) {
}

/* 600*/
@media screen and (max-width: 600px) {
    .works__main__title {
        font-size: 30px;
    }

    .works__main__title-ja {
        font-size: 20px;
    }

    .works__main__subtitle {
        font-size: 14px;
    }
}

@media screen and (max-width: 550px) {
    .works__main__container-firstimg p {
        font-size: 14px;
    }

    .works__main__container-secondimg p {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
}

/* 480*/
@media screen and (max-width: 480px) {
    .works__main__title {
        font-size: 25px;
    }

    .works__main__title-ja {
        font-size: 16px;
    }

    .works__main__subtitle {
        font-size: 13px;
    }

    .banner-img {
        width: 70%;
    }
    .size-br {
        display: inline;
    }
}

/* 390*/
@media screen and (max-width: 390px) {
    .works__main__title {
        font-size: 24px;
    }

    .works__main__title-ja {
        font-size: 15px;
    }

    .works__main__subtitle {
        font-size: 13px;
    }
}

/* 375*/
@media screen and (max-width: 375px) {
    .works__main__heading {
        padding-top: 144px;
    }
    .works__main__container-firstimg {
        padding-top: 96px;
    }
    .works__main__container {
        padding-bottom: 80px;
    }

    .works__main__container-img {
        padding-top: 114px;
    }

    .works__main__title {
        font-size: 23px;
    }

    .works__main__title-ja {
        font-size: 14px;
    }

    .works__main__subtitle {
        font-size: 12px;
    }

    .works__main__container-hr {
        padding-bottom: 98px;
    }

    .about__footer__text p {
        font-size: 14px;
    }
    .about__footer__contents {
        padding-top: 98px;
        padding-bottom: 128px;
    }

    .works__main__container {
        padding-left: 3%;
        padding-right: 3%;
    }

    .works__main__container-text,
    .works__main__list-area p {
        font-size: 15px;
    }
}

@media screen and (max-width: 360px) {
    .works__main__title {
        font-size: 18px;
    }

    .works__main__subtitle {
        font-size: 12px;
    }
}
